<div id="app">

    <div id="menubar">
      <ul class="menu">
        <li><a :href="getUrl('home')">Home</a></li>
        <li><a :href="getUrl('guidelines')">Guidelines</a></li>
        <li><a :href="getUrl('directories')">Directories</a></li>
        <li><a :href="getUrl('vectorsearch')">VecSearch</a></li>
        <li><a :href="getUrl('filterqueries')">Filter Queries</a></li>
        <li><a :href="getUrl('llmsearch')">Vec + Prompt</a></li>
      </ul>
      <ul class="menu">
        <li>{{user.username}}</li>
      </ul>
    </div>

    <h2>Add Guideline to {{currentGLSet.name}}</h2>
    <label for="nr">Nr*</label>
    <input v-model="nr" id="nr" type="number">
    <br>
    <label for="itemToCheck">Item to Check*</label>
    <input v-model="itemToCheck" id="itemToCheck" type="text">
    <br>
    <label for="description">Description</label>
    <input v-model="description" id="description" type="text">
    <br>
    <label for="importance">Importance</label>
    <select v-model="importance" id="importance">
        <option>E</option>
        <option>D</option>
    </select>
    <br>
    <label for="notes">Additional Info</label>
    <input v-model="notes" id="notes" type="text">
    <br>
    <button @click="UploadGL">Add Guideline</button>
    <br>
    <p>{{msg}}</p>

    <h3>All {{currentGLSet.name}}</h3>
    <ul>
        <li v-for="gl in guidelines">{{gl.nr}} | {{gl.itemToCheck}} | {{gl.importance}} | Description: {{gl.description}} | Notes: {{gl.note}} || <a :href="getUrl('guidelines/edit/'+gl._id.toString())">edit</a></li>
    </ul>

    <br>
    <button @click="DeleteGLSet">Delete Entire Set</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<script type="module">
    import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
    const API_URL="http://localhost:3000/";

    createApp({
      data() {
        return {
            user:{},
            nr:null,
            itemToCheck:'',
            description:'',
            importance:null,
            notes:'',



            currentNamespace:'',
            currentGLSet:{
                name:'',
                id:''
            },
            guidelines:[],

            msg:''
        }
      },
      methods:{
        async getUser(){
            try{
                await axios.get(API_URL+'users/getuser')
                .then(response => {
                    this.user = response.data.user;
                })
            } catch(error){
                console.log(error);
            }
        },
        async DeleteGLSet(){
            try{
                await axios.delete(API_URL+'guidelines/deleteset', {
                    params:{
                        guidelineset:this.currentGLSet._id
                    }
                })
                .then(response => {
                    this.msg = response.data.message;
                    console.log(response.data.guideline);
                })
            } catch(error){
                console.log(error);
            }
        },
        async UploadGL(){
            this.msg = "calls";
            if(this.nr && this.itemToCheck != '' && this.importance){
                await axios.post(API_URL+'guidelines/add', {
                    nr:this.nr,
                    itemToCheck:this.itemToCheck,
                    description:this.description,
                    importance:this.importance,
                    GuidelineSetId:this.currentGLSet._id
                })
                .then(async (response) => {
                    if(response.data.error){
                        this.msg = response.data.error;
                    } else {
                        this.msg = "done";
                        await this.getGuidelines(this.currentGLSet._id);
                    }
                })
            }
            else {
                this.msg = "You havent defined all required fields";
            }
        },
        async getGuidelines(id){
            await axios.post(API_URL+'guidelines/bysetid', {
                id: id
            })
            .then((response) => {
                this.guidelines = response.data;
            })
        },
        getUrl(tag){
            return API_URL+tag;
        },
        async GetCurrentGLSet(){
            try{
                await axios.get(API_URL+'guidelines/getcurrentset')
                .then(async response => {
                    this.currentGLSet = response.data;
                    await this.getGuidelines(response.data._id);
                })
            }catch(error){
                console.log(error)
            }
        },
        async GetCurrentNamespace(){
            try{
                await axios.get(API_URL+'users/getcurrentnamespace')
                .then(response => {
                    this.currentNamespace = response.data.namespace;
                    
                })
            } catch(error){
                console.log(error);
            }
        },
        async GetNamespaces(){
            try{
                await axios.get(API_URL+'users/getnamespaces')
                .then(response => {
                    this.namespaces = response.data.namespaces;
                })

            } catch(error){
                console.log(error);
            }
        },
        async ChangeCurrentNamespace(){
            try{
                await axios.post(API_URL+'users/updatecurrentnamespace', {
                currentNamespace:this.currentNamespace
                })
            } catch(error){
                console.log(error);
            }
        }
        },
        async mounted(){
            await this.GetNamespaces();
            await this.GetCurrentNamespace();
            await this.GetCurrentGLSet();
            await this.getUser();
        }
        
      }).mount('#app')
  </script>


<style>

    #menubar {
     display: flex;
     justify-content: space-between;
     padding: 10px;
   }
  
   .menu {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
   }
  
   .menu li {
     margin-right: 15px;
   }
  
  </style>